<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block bodywelcome %}
<table border="1">
    <tr>
        <td>
            Welcome, <strong>{% firstof user.get_short_name user.get_username %}</strong>.
        </td>
        <td>
            <a href="{% url 'rentout:index' %}">Homepage</a>
        </td>
        {% if user.is_active %}
        <td>
            <a href="{% url 'rentout:logout' %}?next={{ request.path }}">Logout</a>
        </td>
        {% else %}
        <td>
            <a href="{% url 'rentout:login' %}?next={{ request.path }}">Login</a>
        </td>
        {% endif %}
        <td>
            <a href="/admin/">admin</a>
        </td>
    </tr>
</table>
{% endblock %}
{% block bodycontent %}{% endblock %}
</body>
</html>

