<table border="1">
    <tr bgcolor="#008080">
        <th>Creator</th>
        <th>Price</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Date to start rent out</th>
        <th>Date to send back</th>
        <th>Date published</th>
    </tr>
    <tr>
        <td>{{ wish.creator }}</td>
        <td>{{ wish.price }}</td>
        <td>{{ wish.description }}</td>
        <td>{{ wish.rating }}</td>
        <td>{{ wish.start_date }}</td>
        <td>{{ wish.end_date }}</td>
        <td>{{ wish.pub_date }}</td>
    </tr>
</table>